<style>
h1{
font-family: "Times New Roman", Times, serif;
}
</style>

<h1>Listings</h1>
<table class="table table-striped table-bordered">
<tr>
	<th class="center">Name</th>
	<th class="center">Description</th>
	<th class="center">price</th>
	<th class="center">Action</th>
</tr>
<% @listings.each do |listing| %>
	<tr>
		<td><%= listing.name %></td><br>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td>
				<li><%= link_to 'View',listing , class:'btn btn-link' %></li>
				<li><%= link_to 'Edit', edit_listing_path(listing) , class:'btn btn-link' %></li>
				<li><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-link' %>
				</li>
				</ul></button>
			</div></td>
	</tr>
	<% end %>
    
</table>  
			<center><button><h1><%= link_to "Sales History", sales_path %></h1></button></center>
