<p id="notice"><%= notice %></p>


 <% @listing.images_urls.each do |url| %>
	<div class="col-md-4 ">
     <%= image_tag url %>
	</div>
<% end %>
	<div class="video1">
    <%=  video_tag @listing.video_url.to_s, :controls =>true if @listing.video?%>
	</div>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

	<%= link_to "BUY IT NOW", new_listing_order_path(@listing), class: "btn btn-primary"%> |



<% if current_user == @listing.user %>
<%= link_to 'Edit', edit_listing_path(@listing) , class:'btn btn-link' %> |
<% end %>
<%= link_to 'Back', listings_path , class:'btn btn-link' %>
</div>