<%= form_for([@listing, @order]) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	
<div id="price" data-price="<%= @listing.price %>"></div>	
	
		<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :size %>
    <%= form.text_field :size, class:"form-control" %>
  </div>

	<div class="form-group">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class:"form-control" %>
  </div>	
	
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class:"form-control" %>
  </div>

<div class="form-group">
    <%= form.label :PinCode %>
    <%= form.text_field :PinCode, class:"form-control" %>
  </div>
<div class="form-group">
    <%= form.label :Landmark %>
    <%= form.text_field :Landmark, class:"form-control" %>
  </div>

  

  <div class="form-group">
    <%= form.label :Description %>(if any special changes)
    <%= form.text_field :Description, class:"form-control" %>
  </div>

 

    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"><div id="BUYNOW",data:{id: <%=@listing.id%> }> </div></div>
	
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

    <script> 
    document.addEventListener("turbolinks:load",function(){
document.querySelector("#BUYNOW").addEventListener("click",function(e){
    ahoy.track("BUYNOW",e.target.dataset);
});
});
    
    
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
			
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: <%= @listing.price %>
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
					yourForm = document.getElementById('new_order');
                Rails.fire(yourForm, 'submit');
                
                });
            }
			
			
			
			

        }).render('#paypal-button-container');
		
		
    </script>

	
<% end %>
